#display-type-selection {
    background: #e6eceb;
    border-radius: 25px;
    border: 2px solid #809994;

    width: fit-content;
    padding: 10px;
}

.image-table {
    border-collapse: collapse;
}

.form-field-row {
    border: 2px solid black;
}

.field-name-cell {
    border: 2px solid black;
}

.validation-cell {
    border: 2px solid black;
    text-align: center;
}

.correction-cell {
    border: 2px solid black;
    padding-right: 5px;
    padding-left: 5px;
}

.corrections-box {
    width: 100%;
    min-width: 350px;
    box-sizing: border-box;
}

.corrections-box:read-only {
    background-color: LightGray;
}

.link-checkbox {
    margin-left: 5px;
}

/* https://stackoverflow.com/questions/7617689 */
.multi-checkbox-table {
    width: 100%;
}
.multi-checkbox-table tr {
    display: flex;
    align-items: stretch;
}
.multi-checkbox-table td:last-child {
    flex: 1;
}

.multi-checkbox-optional-text {
}

.whole-form-image {
    width: 800px;
    border: 1px solid;

    align-self: flex-start;
    position: sticky;
    top: 20px;

    margin-left: 10px;
}