.center {
    display: block;
    margin: auto;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 5px;
    box-shadow: 3px 3px 13px 0 #c3c3c3;
    padding: 30px;
    margin: 30px;
    transition: all 0.3s ease-out;
    width: 300px;
    border-top: solid 3px #6190A6;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.mermaid {
    text-align: center;
}
