:root {
  --article-width: 50em;
}

article,
article img {
  max-width: var(--article-width);
}

article h1 {
  font-size: 1.75rem;
  padding-top: 1rem;
  padding-bottom: .4rem;
  border-bottom: 1px solid var(--border-color);
}

article h2 {
  margin: 1.5em -1em 1em -1em;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--body-quiet-color);
  padding: .4em 1em;
}

article h3 {
  margin: 2em 0 1em 0;
  font-weight: 300;
  font-size: 1rem;
  color: var(--body-quiet-color);
}

article p, article ul, article li, article code {
  font-size: .9rem;
  line-height: 1.35rem;
}

article :not(pre) > code {
  white-space: pre;
  background-color: var(--darkened-bg);
  padding: .2em .4em;
  border-radius: .2em;
}

article pre code {
  display: block;
  white-space: pre;
  background-color: var(--darkened-bg);
  padding: 1em;
  border: 1px solid var(--border-color);
  font-size: .8rem;
}

article table, article img {
  margin: 2em 0;
}

.header-anchor {
  font-size: .8em;
  visibility: hidden;
  margin-left: .2em;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  visibility: visible;
}


@media (prefers-color-scheme: light) {
  pre code .hll { background-color: #ffffcc }
  pre code  { background: #f0f0f0; }
  pre code .c { color: #60a0b0; font-style: italic } /* Comment */
  pre code .err { border: 1px solid #FF0000 } /* Error */
  pre code .k { color: #007020; font-weight: bold } /* Keyword */
  pre code .o { color: #666666 } /* Operator */
  pre code .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
  pre code .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
  pre code .cp { color: #007020 } /* Comment.Preproc */
  pre code .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
  pre code .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
  pre code .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
  pre code .gd { color: #A00000 } /* Generic.Deleted */
  pre code .ge { font-style: italic } /* Generic.Emph */
  pre code .gr { color: #FF0000 } /* Generic.Error */
  pre code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
  pre code .gi { color: #00A000 } /* Generic.Inserted */
  pre code .go { color: #888888 } /* Generic.Output */
  pre code .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
  pre code .gs { font-weight: bold } /* Generic.Strong */
  pre code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
  pre code .gt { color: #0044DD } /* Generic.Traceback */
  pre code .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
  pre code .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
  pre code .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
  pre code .kp { color: #007020 } /* Keyword.Pseudo */
  pre code .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
  pre code .kt { color: #902000 } /* Keyword.Type */
  pre code .m { color: #40a070 } /* Literal.Number */
  pre code .s { color: #4070a0 } /* Literal.String */
  pre code .na { color: #4070a0 } /* Name.Attribute */
  pre code .nb { color: #007020 } /* Name.Builtin */
  pre code .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
  pre code .no { color: #60add5 } /* Name.Constant */
  pre code .nd { color: #555555; font-weight: bold } /* Name.Decorator */
  pre code .ni { color: #d55537; font-weight: bold } /* Name.Entity */
  pre code .ne { color: #007020 } /* Name.Exception */
  pre code .nf { color: #06287e } /* Name.Function */
  pre code .nl { color: #002070; font-weight: bold } /* Name.Label */
  pre code .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
  pre code .nt { color: #062873; font-weight: bold } /* Name.Tag */
  pre code .nv { color: #bb60d5 } /* Name.Variable */
  pre code .ow { color: #007020; font-weight: bold } /* Operator.Word */
  pre code .w { color: #bbbbbb } /* Text.Whitespace */
  pre code .mb { color: #40a070 } /* Literal.Number.Bin */
  pre code .mf { color: #40a070 } /* Literal.Number.Float */
  pre code .mh { color: #40a070 } /* Literal.Number.Hex */
  pre code .mi { color: #40a070 } /* Literal.Number.Integer */
  pre code .mo { color: #40a070 } /* Literal.Number.Oct */
  pre code .sa { color: #4070a0 } /* Literal.String.Affix */
  pre code .sb { color: #4070a0 } /* Literal.String.Backtick */
  pre code .sc { color: #4070a0 } /* Literal.String.Char */
  pre code .dl { color: #4070a0 } /* Literal.String.Delimiter */
  pre code .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
  pre code .s2 { color: #4070a0 } /* Literal.String.Double */
  pre code .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
  pre code .sh { color: #4070a0 } /* Literal.String.Heredoc */
  pre code .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
  pre code .sx { color: #c65d09 } /* Literal.String.Other */
  pre code .sr { color: #235388 } /* Literal.String.Regex */
  pre code .s1 { color: #4070a0 } /* Literal.String.Single */
  pre code .ss { color: #517918 } /* Literal.String.Symbol */
  pre code .bp { color: #007020 } /* Name.Builtin.Pseudo */
  pre code .fm { color: #06287e } /* Name.Function.Magic */
  pre code .vc { color: #bb60d5 } /* Name.Variable.Class */
  pre code .vg { color: #bb60d5 } /* Name.Variable.Global */
  pre code .vi { color: #bb60d5 } /* Name.Variable.Instance */
  pre code .vm { color: #bb60d5 } /* Name.Variable.Magic */
  pre code .il { color: #40a070 } /* Literal.Number.Integer.Long */
}

@media (prefers-color-scheme: dark) {
  pre code .hll { background-color: #49483e }
  pre code { background: #272822; color: #f8f8f2 }
  pre code .c { color: #75715e } /* Comment */
  pre code .err { color: #960050; background-color: #1e0010 } /* Error */
  pre code .k { color: #66d9ef } /* Keyword */
  pre code .l { color: #ae81ff } /* Literal */
  pre code .n { color: #f8f8f2 } /* Name */
  pre code .o { color: #f92672 } /* Operator */
  pre code .p { color: #f8f8f2 } /* Punctuation */
  pre code .ch { color: #75715e } /* Comment.Hashbang */
  pre code .cm { color: #75715e } /* Comment.Multiline */
  pre code .cp { color: #75715e } /* Comment.Preproc */
  pre code .cpf { color: #75715e } /* Comment.PreprocFile */
  pre code .c1 { color: #75715e } /* Comment.Single */
  pre code .cs { color: #75715e } /* Comment.Special */
  pre code .gd { color: #f92672 } /* Generic.Deleted */
  pre code .ge { font-style: italic } /* Generic.Emph */
  pre code .gi { color: #a6e22e } /* Generic.Inserted */
  pre code .go { color: #66d9ef } /* Generic.Output */
  pre code .gp { color: #f92672; font-weight: bold } /* Generic.Prompt */
  pre code .gs { font-weight: bold } /* Generic.Strong */
  pre code .gu { color: #75715e } /* Generic.Subheading */
  pre code .kc { color: #66d9ef } /* Keyword.Constant */
  pre code .kd { color: #66d9ef } /* Keyword.Declaration */
  pre code .kn { color: #f92672 } /* Keyword.Namespace */
  pre code .kp { color: #66d9ef } /* Keyword.Pseudo */
  pre code .kr { color: #66d9ef } /* Keyword.Reserved */
  pre code .kt { color: #66d9ef } /* Keyword.Type */
  pre code .ld { color: #e6db74 } /* Literal.Date */
  pre code .m { color: #ae81ff } /* Literal.Number */
  pre code .s { color: #e6db74 } /* Literal.String */
  pre code .na { color: #a6e22e } /* Name.Attribute */
  pre code .nb { color: #f8f8f2 } /* Name.Builtin */
  pre code .nc { color: #a6e22e } /* Name.Class */
  pre code .no { color: #66d9ef } /* Name.Constant */
  pre code .nd { color: #a6e22e } /* Name.Decorator */
  pre code .ni { color: #f8f8f2 } /* Name.Entity */
  pre code .ne { color: #a6e22e } /* Name.Exception */
  pre code .nf { color: #a6e22e } /* Name.Function */
  pre code .nl { color: #f8f8f2 } /* Name.Label */
  pre code .nn { color: #f8f8f2 } /* Name.Namespace */
  pre code .nx { color: #a6e22e } /* Name.Other */
  pre code .py { color: #f8f8f2 } /* Name.Property */
  pre code .nt { color: #f92672 } /* Name.Tag */
  pre code .nv { color: #f8f8f2 } /* Name.Variable */
  pre code .ow { color: #f92672 } /* Operator.Word */
  pre code .w { color: #f8f8f2 } /* Text.Whitespace */
  pre code .mb { color: #ae81ff } /* Literal.Number.Bin */
  pre code .mf { color: #ae81ff } /* Literal.Number.Float */
  pre code .mh { color: #ae81ff } /* Literal.Number.Hex */
  pre code .mi { color: #ae81ff } /* Literal.Number.Integer */
  pre code .mo { color: #ae81ff } /* Literal.Number.Oct */
  pre code .sa { color: #e6db74 } /* Literal.String.Affix */
  pre code .sb { color: #e6db74 } /* Literal.String.Backtick */
  pre code .sc { color: #e6db74 } /* Literal.String.Char */
  pre code .dl { color: #e6db74 } /* Literal.String.Delimiter */
  pre code .sd { color: #e6db74 } /* Literal.String.Doc */
  pre code .s2 { color: #e6db74 } /* Literal.String.Double */
  pre code .se { color: #ae81ff } /* Literal.String.Escape */
  pre code .sh { color: #e6db74 } /* Literal.String.Heredoc */
  pre code .si { color: #e6db74 } /* Literal.String.Interpol */
  pre code .sx { color: #e6db74 } /* Literal.String.Other */
  pre code .sr { color: #e6db74 } /* Literal.String.Regex */
  pre code .s1 { color: #e6db74 } /* Literal.String.Single */
  pre code .ss { color: #e6db74 } /* Literal.String.Symbol */
  pre code .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
  pre code .fm { color: #a6e22e } /* Name.Function.Magic */
  pre code .vc { color: #f8f8f2 } /* Name.Variable.Class */
  pre code .vg { color: #f8f8f2 } /* Name.Variable.Global */
  pre code .vi { color: #f8f8f2 } /* Name.Variable.Instance */
  pre code .vm { color: #f8f8f2 } /* Name.Variable.Magic */
  pre code .il { color: #ae81ff } /* Literal.Number.Integer.Long */
}