[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "beepy_network_manager"
version = "1.1.0"
description = "Beepy app to manage WiFi networks"
authors = ["conor-f <beepy@randombits.host>"]
license = "GPLv3"
readme = "README.md"
homepage = "https://github.com/conor-f/beepy-network-manager"

[tool.poetry.dependencies]
textual = "^0.82.0"
python = "^3.9"
psutil = "^6.0.0"
tomli = "^2.0.1"

[tool.poetry.dev-dependencies]
pytest = "^8.3.3"
pre-commit = "^3.6.2"
black = "^24.3.0"
isort = "^5.13.2"
flake8 = "^7.0.0"
mypy = "^1.9.0"

[tool.poetry.scripts]
beepy_network_manager = "beepy_network_manager.main:run_main"

[tool.black]
line-length = 80
target-version = ['py39']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 80

[tool.mypy]
python_version = "3.9"
warn_return_any = true
warn_unused_configs = true
ignore_missing_imports = true
